body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  border: 3px solid black;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgrey;
}

h1 {
  font-size: 1.5em;
}

li.release {
  padding: 10px;
  font-size: 1.5em;
}

span.release-title {
  color: blue;
}

span.release-title:hover {
  cursor: pointer;
}

span.release-title:active {
  color: blueviolet;
}

#more-releases {
  width: 100%;
  padding: 10px;
  border: 3px solid black;
  background-color: lightblue;
  color: blue;
  text-align: left;
  font-size: 1.5em;
}

#more-releases:hover {
  cursor: pointer;
}

#more-releases:active {
  transform: scale(0.95);
}
